In [1]:
''' I will show you how to make series objects from Python lists and dicts'''

' I will show you how to make series objects from Python lists and dicts'

In [2]:
''' I will show you how to extract the index and the values from a series'''

' I will show you how to extract the index and the values from a series'

In [3]:
''' I will show you how to extract the index and the values from a series'''

' I will show you how to extract the index and the values from a series'

In [4]:
    import pandas as pd

In [10]:
s = pd.Series([0,1,4,9,16,25], name ='squares')

In [11]:
s

0     0
1     1
2     4
3     9
4    16
5    25
Name: squares, dtype: int64

In [12]:
s.values

array([ 0,  1,  4,  9, 16, 25], dtype=int64)

In [13]:
s.index

RangeIndex(start=0, stop=6, step=1)

In [14]:
s[2]

4

In [15]:
s[2:5]

2     4
3     9
4    16
Name: squares, dtype: int64

In [18]:
import numpy as np
data = np.array(['a','b','c','d'])
x = pd.Series(data,index=[100,101,102,103])
x

100    a
101    b
102    c
103    d
dtype: object

In [20]:
data = [['Alex',10],['Bob',12],['Clarke',13]]
df = pd.DataFrame(data,columns=['Name','Age'])

In [21]:
df

     Name  Age
0    Alex   10
1     Bob   12
2  Clarke   13